<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>LSEnvironment</key>
  <dict>
    <key>TOLARIA_APP_CONFIG_NAMESPACE</key>
    <string>com.tolaria.app.dev</string>
  </dict>
</dict>
</plist>
